@font-face {
    font-family: IranYekan-Bold;
    src: url(../fonts/IranYekan-Bold.ttf) format('truetype');
}

@font-face {
    font-family: IranYekan-Black;
    src: url(../fonts/IranYekan-Black.ttf) format('truetype');
}

@font-face {
    font-family: Morabba-Black;
    src: url(../fonts/Morabba-Black.ttf) format('truetype');
}

.font-IranYekan-Bold {
    font-family: IranYekan-Bold;
}

.font-IranYekan-Black {
    font-family: IranYekan-Black;
}

.font-Morabba-Black {
    font-family: Morabba-Black;
}

.nav-item:hover .nav-link {
    color: #ffc107 !important;
}

.carousel-indicators button {
    width: 8px !important;
    height: 8px !important;
}

@media (max-width: 991.98px) {
    .w-max-lg-80 {
        width: 80%;
    }

    .w-max-lg-40 {
        width: 40%;
    }
}

.fs-7 {
    font-size: 0.75rem !important;
}